.vscode

# Project related
.*
build/
test.spl

a.out
test*.in
test.out
test.c
test.o
test.c.ll

basic_test.sh
syntax.tab.h
syntax.tab.c
syntax.output

# Stop MacOS from polluting the environment
**/.DS_Store

# IR files
./*.ir
*.log